.cta-btn {
    width: 8rem;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    color: black;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px 16px;
    position: relative;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.cta-btn:hover {
    color: white;
    background: black;
}