.section-wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: calc(1200px + calc(2 * 24px));
    padding-left: 24px;
    padding-right: 24px;
}

.section-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
    flex: 1;
    justify-content: flex-start;
    align-items: stretch;
}

.section-label {
    text-align: center;
    margin-bottom: 16px;
}

.section-label-number-one {
    display: inline-flex;
    border-radius: 100%;
    color: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(90deg, var(--blue), var(--cyan));
}

.section-label-number-two {
    display: inline-flex;
    border-radius: 100%;
    color: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(90deg, var(--purple), var(--red));
}

.section-label-number-three {
    display: inline-flex;
    border-radius: 100%;
    color: black;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 24px;
    background: linear-gradient(90deg, var(--teal), var(--green));
}

.section-label-heading {
    font-size: 2rem;
    letter-spacing: -0.05em;
    margin: 0;
    font-weight: 700;
}

.section-label-text-one {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-image: linear-gradient(90deg, var(--blue), var(--cyan));
}

.section-label-text-two {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-image: linear-gradient(90deg, var(--purple), var(--red));
}

.section-label-text-three {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-image: linear-gradient(90deg, var(--teal), var(--green));
}

.section-title {
    text-align: center;
    margin: 0 0 24px;
    padding-bottom: 12px;
    font-weight: 700;
    letter-spacing: -0.05em;
    font-size: 2.5rem;
}

@media (max-width: 599px) {
    .section-title {
        font-size: 3.75rem;
    }
}

.section-description-wrapper {
    max-width: 550px;
    padding-bottom: 8px;
    margin: 0 auto 64px;
}

.paragraph {
    line-height: 1.6;
    letter-spacing: -0.02em;
    margin: 0;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
}

.paragraph-medium {
    font-weight: 400;
}

.paragraph-secondary {
    color: var(--secondary-color);
}